
 @font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/0XxGQsSc1g4rdRdjJKZrNL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v3/Q_pTky3Sc3ubRibGToTAYnhM4mdXpoxYNWk7Ev34U70.woff) format('woff');
} 

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v4/sDRi4fY9bOiJUbgq53yZCXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Heavy'), local('Merriweather-Heavy'), url(http://themes.googleusercontent.com/static/fonts/merriweather/v4/ZvcMqxEwPfh2qDWBPxn6nrsSoz0gOrwseB_671fuXgU.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(http://themes.googleusercontent.com/static/fonts/merriweather/v4/RFda8w1V0eDZheqfcyQ4EKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}




a { color: #222222; }
a:visited { color: #222222; }
a:hover {
  color: #ffffff;
  background: #222222;
}
pre {
  border: #777777 1px solid;
  background-color: #cccccc;
}
pre .poetry {
  border: none;
  background: none;
}
img {
  border: #777777 1px solid;
  background-color: #cccccc;
  color: black;
}
figcaption {
  display: block;
  text-align: center;
}
body {
  font: 14px/1.5em Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman";
  margin: 0;
  padding: 0;
  font-size: 1em;
  width: 35em;
  margin: auto;
}
div, h1, h2, h3, h4, h5, h6 { text-align: left; }
div.wrapper {
  font-size: 1em;
  max-width: 47em;
  min-width: 580px;
  margin: auto;
}
pre { padding: 0.5em; }
img {
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 2em;
}
body { font: 14px/1.5em Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman"; }
p {
  font-size: 1em;
  line-height: 1.5em;
  text-align: justify;
  margin: 1.5em 0 1.5em 0;
  max-width: 35em;
}
li p { margin: 1em 0 1em 0; }
h1, h2, h3, h4 {
  font-family: Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-weight: normal;
}
code {
  font-family: courier;
  font-size: 0.857em;
  line-height: 1.75em;
}
pre {
  font-family: courier;
  font-size: 0.857em;
  line-height: 1.75em;
  margin: 0 0 1.75em 0;
  white-space: pre-wrap;
  white-space: moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
div.bibliography p { text-align: left; }
a {
  text-decoration: none;
  font-weight: bold;
}
.sidebar { padding-top: 3em; }
.sidebar > h1 { margin-top: 0; }
.sidebar h3:first-child { margin-top: 0; }
.sidebar ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.sidebar ul ul { margin-left: 15px; }
.sidebar img {
  margin: 0;
  padding: 0;
  border: none;
}
.sidebar a { font-weight: normal; }
.content { padding-top: 3em; }
.content > h1 { margin-top: 0; }
.content h3:first-child { margin-top: 0; }
.content h1:first-child {
  font-size: 1.75em;
  margin-bottom: 1em;
}
.content img {
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 2em;
  max-width: 32em;
}
.content pre { padding: 0.5em; }
.content hr {
  height: 1px;
  color: black;
  background-color: black;
  border: 0;
}
.content a { border-bottom: 1px dashed #888888; }
.tags, .date {
  font-family: Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  font-size: 0.75em;
}
.comments { margin-top: 5em; }
.comments .comment {
  margin-bottom: 0.5em;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 0.5em;
}
.comments .comment-byline { font-size: 0.75em; }
.comments .comment-byline a { border: none; }
div.header {
  background-image: none;
  border-style: none;
  border-bottom: 1px solid black;
}
span.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Didot, AppleMyungjo, Palatino, Times;
  font-size: 32px;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
}
span.tail { color: #888888; }
span.logo > a > img {
  border: none;
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
}
table {
  color: #222;
  font: 400 14px/18px "pt serif";
  border: solid black;
  border-width: 2px 0px;
  empty-cells: hide;
  border-spacing: 0px;
  padding: 2px;
  margin: 20px auto;
}
table caption {
  margin: 5px;
  text-align: center;
  caption-side: bottom;
}
thead th {
  border: solid gray;
  border-width: 0 0 2px 0;
  padding: 5px;
}
thead > tr:last-child > th { border-style: none; }
tbody > tr:first-child > td {
  border: solid gray;
  border-width: 1px 0 0 0;
}
tbody > tr:first-child > th {
  border: solid gray;
  border-width: 1px 0 0 0;
}
thead + tbody > tr:first-child > td {
  border: solid black;
  border-width: 1px 0 0 0;
}
thead + tbody > tr:first-child > th {
  border: solid black;
  border-width: 1px 0 0 0;
}
figure {
  padding: 0px;
  margin: 0px;
}






body {
  background: #fff;
  padding: 200px 0; 
  font-family: "helvetica neue", helvetica, arial, sans-serif; 
  margin: 0 auto;
  width: 50em; }

h1 {
    color: #222;
    font: 700 24px/24px "pt sans narrow";
    margin: 0;
    text-align: left;
    text-transform: uppercase; }

h2 {
     color: #222;
    font: 700 24px/24px "pt sans narrow";
    margin: 0;
    text-align: left;
    text-transform: uppercase;
}

h3 {
    color: #222;
    font: 700 16px/20px "pt sans";
    margin: 0;
    text-align: left; 
}        

h4 {
    color: #222;
    font: 700 14px/18px "pt sans";
    margin: 0;
    text-align: left; 
}

p {
    color: #222;
    font: 400 14px/18px "pt serif";
    text-align: justify;
    text-indent: 14px; 
    max-width: 50em;}

hr {
    background: #333;
    border: 0;
    height: 2px;
    margin: 12px 0px 8px;
    width: 800px; }
    .sample hr.bottom {
      margin: 10px 0px; }    

li {     color: #222;
    font: 400 14px/18px "pt serif";
    text-align: justify;
    text-indent: 14px; }

ol {    color: #222;
    font: 400 14px/18px "pt serif";
    text-align: justify;
    text-indent: 14px; 
  }

